.PageBg{
    background: url('../Images/1.jpg'); 

  }

  
  .homebg{
    background: url('../Images/4.jpg');
    background-position: center;
  
  width: 100%;
  aspect-ratio: auto ;
  height: 921px;
  background-repeat: no-repeat;
  background-size: cover;
  }  

  .form-container {
    width: 600px; /* Set the desired width */
    height: 600px; /* Set the desired height */
    margin: 0 auto; /* Center the form horizontally */
  }

  .navbar-logo {
    height: 40px; /* Adjust the height as needed */
    margin-right: 1rem;
  }

  .About{
    background: url('../Images/13.png'); 

    position: fixed;
    top: 2;
    left: 0;
    width: 1000vw;
    height: 1000vh;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .Contact{
    background: url('../Images/11.png'); 
    position: fixed;
  top: 2;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;


  }

  


